    $navbar_height: 80px;
    $m_content_padding:15%;
    $content_width: 85%;
    body {
        margin: 0;
        list-style: none;
        background-color: black;
        padding: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .navbar {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 29%, rgba(113, 0, 0, 1) 87%);
        height: auto;
        padding: 10px 20px;
        .navbar-brand {
            padding: 0;
            margin: auto 0;
            img {
                height: $navbar_height;
                width: auto;
                @media screen and (max-width: 992px) {
                    height: $navbar_height/2;
                    width: auto;
                }
            }
        }
    }
    
    .about_block {
        width: 100%;
        height: 600px;
        background-color: black;
    }
    
    .h_carousel div {
        width: 100%;
        height: auto;
    }
    
    .b_block {
        margin: auto;
        width: $content_width;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        height: auto;
        background-color: black;
        color: white;
        padding-top: 5px;
        .b_m_info {
            margin: auto;
            width: 90%;
            padding: 1%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .h_carousel {
                width: $content_width/1.5;
                height: 350px;
                @media screen and (max-width: 992px) {
                    width: 100%;
                    height: auto;
                }
                div div img {
                    height: 350px;
                    width: auto;
                    background-color: white;
                    @media screen and (max-width: 992px) {
                        height: auto;
                    }
                }
            }
            .b_info {
                font-size: 25px;
                padding-top: 10px;
                width: 350px;
                margin: 0 auto;
                text-align: left;
            }
        }
        hr {
            margin: 4px 0;
        }
        .b_text {
            margin: auto;
            width: 90%;
            padding: 1% 1%;
        }
    }
    
    .gallery {
        padding-top: 10px;
        width: $content_width;
        margin: auto;
        hr {
            background-color: white;
        }
        .g_heading {
            padding-top: 10px;
            color: white;
            h1 {
                text-align: center;
            }
        }
        .photos {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .g_photo {
                width: auto;
                height: 300px;
                img {
                    max-height: 300px;
                    width: auto;
                }
                margin: 5px;
                justify-content: center;
            }
        }
    }
    
    .g_pagination {
        padding-top: 10px;
        ul {
            li.page-item .page-link {
                color: white;
                background-color: rgb(0, 0, 0);
                .page-link:hover {
                    background-color: rgb(94, 1, 1);
                    color: white;
                }
            }
            .page-item.active .page-link {
                background-color: rgb(94, 1, 1);
                color: white;
                border-color: white;
            }
            li.page-item.disabled {
                visibility: hidden;
            }
        }
    }
    
    .a_container {
        width: $content_width;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;
        }
        .a_item {
            width: 80%;
            height: auto;
            margin: 10px auto;
            padding: 40px;
            padding-bottom: 5px;
            border: 2px solid burlywood;
            border-radius: 1%;
            @media screen and (max-width: 992px) {
                width: 95%;
                height: auto;
                padding: 5px;
            }
            .a_info {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                padding-bottom: 10px;
                @media screen and (max-width: 992px) {
                    flex-wrap: wrap;
                }
                .a_item_desc {
                    padding-left: 20px;
                    @media screen and (max-width: 992px) {
                        padding: 0;
                    }
                    .a_article {
                        padding-top: 10px;
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        @media screen and (max-width: 992px) {
                            font-size: 18px;
                        }
                    }
                    .a_article_description {
                        font-size: 16px;
                        @media screen and (max-width: 992px) {
                            font-size: 20px;
                        }
                    }
                    width: 100%;
                    color: white;
                    font-size: 16px;
                    @media screen and (max-width: 992px) {
                        font-size: 14px;
                    }
                }
                img {
                    width: 300px;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    height: auto;
                    margin: auto;
                }
            }
        }
    }
    
    .toggle_button {
        width: 100%;
        background-color: black;
        color: white;
        font-weight: bold;
    }
    
    .song-table {
        background-color: black;
        color: yellow;
    }
    
    .player_slot {
        width: 40%;
        height: auto;
    }
    
    .a_name {
        font-size: 16px;
        @media screen and (max-width: 992px) {
            font-size: 14px;
        }
    }