$navbar_p_height: 50px;
$m_content_padding:15%;
$content_width: 85%;
$s_padding: 10px 20px;
$page_font: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
body {
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: url('./images/backgorund_tm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: $page_font
}

.navbar {
    background: rgb(0, 0, 0);
    height: auto;
    padding: $s_padding;
    .navbar-brand {
        padding-right: 10px;
        margin: auto 0;
        img {
            height: $navbar_p_height;
            width: auto;
            @media screen and (max-width: 992px) {
                height: $navbar_p_height/2;
                width: auto;
            }
        }
    }
    .collapse {
        .search_bar_container {
            width: 30vw;
            @media screen and (max-width: 1170px) {
                width: 17vw;
            }
            @media screen and (max-width: 992px) {
                width: 100%;
                margin: auto;
            }
            .d_search {
                position: relative;
                width: 100%;
                display: inline-block;
                .d_search_bar {
                    width: 100%;
                    border-radius: 0;
                }
            }
            .dropdown_content {
                display: none;
                position: absolute;
                background-color: black;
                width: 30vw;
                @media screen and (max-width: 992px) {
                    width: 100%;
                    margin: auto;
                    position: relative;
                    height: auto;
                }
                overflow: auto;
                border: 1px solid #ddd;
                border-top: 0;
                z-index: 1;
                .d_res_count {
                    p {
                        color: grey;
                        font-size: 16px;
                        margin: 10px;
                    }
                }
                .d_s_items {
                    .d_i_container {
                        .d_searched_item {
                            max-width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            padding: 5px;
                            transition: 0.5s;
                            div {
                                width: 50px;
                                height: auto;
                                img {
                                    width: 100%;
                                }
                            }
                            p {
                                color: white;
                                margin: auto 0;
                                margin-left: 5px;
                            }
                            p:hover {}
                        }
                        .d_searched_item:hover {
                            background-color: white;
                            p {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        ul {
            .nav-item {
                .regular::before {
                    content: "";
                    margin: 0 16px 0 0;
                    border-left: 1px solid rgb(255, 255, 255);
                    @media screen and (max-width: 992px) {
                        margin: 0;
                        border: 0;
                    }
                }
                .regular {
                    cursor: pointer;
                    .dropdown-menu {
                        background-color: black;
                        right: 0px;
                        left: 80%;
                        margin-left: auto;
                        li {
                            color: rgba(255, 255, 255, 0.514);
                            padding-left: 10px;
                            @media screen and (max-width: 992px) {
                                padding-left: 50px;
                            }
                            transition: 0.5s;
                        }
                        li:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

* {
    text-decoration: none !important;
}

.h_carousel {
    div {
        width: 100%;
        height: 500px;
        overflow: hidden;
        background-color: black !important;
        div {
            img {
                height: auto;
                max-width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        @media screen and (max-width: 992px) {
            height: 200px;
        }
    }
}

.b_block {
    width: 100%;
    @media screen and (max-width: 992px) {
        width: 100%;
    }
    height: auto;
    background-color: rgb(0,
    0,
    0);
    color: white;
    padding-top: 20px;
    .b_m_info {
        font-size: 20px;
        color: white;
        text-align: left;
        padding-left: 20px;
    }
    hr {
        margin: 4px 0;
    }
    .b_text {
        margin: auto;
        width: 90%;
        font-size: 20px;
        @media screen and (max-width: 992px) {
            font-size: 16px;
        }
        padding: 1% 1%;
    }
}

.g_heading {
    background-image: url("https://images.wallpaperscraft.com/image/guitar_bass_guitar_musical_instrument_119223_2560x1080.jpg");
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    @media screen and (max-width: 992px) {
        height: 100px;
    }
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 1rem);
    }
}

.gallery {
    width: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.534);
    margin: auto;
    hr {
        background-color: white;
    }
    .photos {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        .g_photo {
            width: 300px;
            height: 300px;
            @media screen and (max-width: 992px) {
                width: 100%;
                height: 300px;
            }
            overflow: hidden;
            position: relative;
            background-color: rgb(0,
            0,
            0);
            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                /* Move the image back up half its height */
            }
            margin: 5px;
            justify-content: center;
        }
        .g_photo:hover {
            background-color: rgb(44, 37, 37);
        }
    }
}

.g_pagination {
    padding-top: 10px;
    ul {
        li.page-item .page-link {
            color: white;
            background-color: rgb(0, 0, 0);
            .page-link:hover {
                background-color: rgb(94, 1, 1);
                color: white;
            }
        }
        .page-item.active .page-link {
            background-color: rgb(94, 1, 1);
            color: white;
            border-color: white;
        }
        li.page-item.disabled {
            visibility: hidden;
        }
    }
}

.a_header {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d9b3ad02ce7f21c4507c8e3/1571061362489-GCR7XLC5D3K817HTDIPQ/ke17ZwdGBToddI8pDm48kBxlfQLbKTV43oyczc2Yqjh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0gycmlYrUNOm5FlGNDjMZJiuCDCSVSkc3jXwy1z4ECcd94kd_LE8nnQWnioeCVCPkw/SAM_4170-5.jpg");
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    @media screen and (max-width: 992px) {
        height: 100px;
    }
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 1rem);
    }
}

.albums_data {
    background-color: rgba(255, 255, 255, 0.582);
    .a_container {
        width: $content_width;
        height: auto;
        margin: 0 auto;
        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;
        }
        .a_item {
            width: 100%;
            height: auto;
            margin: auto;
            padding: 40px;
            padding-bottom: 5px;
            @media screen and (max-width: 992px) {
                width: 95%;
                height: auto;
                padding: 5px;
            }
            .a_info {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                padding-bottom: 10px;
                @media screen and (max-width: 992px) {
                    flex-wrap: wrap;
                }
                .a_item_desc {
                    padding-left: 20px;
                    @media screen and (max-width: 992px) {
                        padding: 0;
                    }
                    .a_article {
                        padding-top: 10px;
                        font-size: 30px;
                        font-weight: bolder;
                        text-align: left;
                        letter-spacing: 5px;
                        @media screen and (max-width: 992px) {
                            font-size: 30px;
                            text-align: center;
                        }
                    }
                    .a_article_description {
                        font-size: 16px;
                        @media screen and (max-width: 992px) {
                            font-size: 20px;
                        }
                    }
                    width: 100%;
                    color: black;
                    font-size: 16px;
                    @media screen and (max-width: 992px) {
                        font-size: 14px;
                    }
                }
                img {
                    width: 300px;
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                    height: auto;
                    margin: auto;
                }
            }
        }
    }
}

.toggle_button {
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
}

.song-table {
    background-color: black;
    color: white;
}

.player_slot {
    width: 40%;
    height: auto;
    @media screen and (max-width: 992px) {
        width: 20%;
    }
}

.a_name {
    font-size: 16px;
    @media screen and (max-width: 992px) {
        font-size: 14px;
    }
}

.song_tr:hover {
    background: rgb(180, 3, 3);
    background: linear-gradient(90deg, rgba(113, 0, 0, 1) 14%, rgba(0, 0, 0, 1) 61%);
}

.footer_text_container {
    color: white;
}

footer {
    background-color: black;
    .footer-copyright {
        color: white;
    }
}

.f_hr {
    background-color: white;
    margin: 0;
}

.c_hr {
    background-color: grey;
}

.c_header {
    background-image: url("https://wallpapercave.com/wp/0l0kzYB.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    @media screen and (max-width: 992px) {
        height: 100px;
    }
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 1rem);
    }
}

.contacts_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    margin: auto;
    color: white;
    @media screen and (max-width: 992px) {
        width: 100%;
        margin: 0;
    }
    background-color: rgb(12,
    12,
    12);
    padding: 20px;
    .contacts_row {
        width: 100%;
        margin: auto;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .c_address {
            width: 48%;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            margin: auto;
            padding-bottom: 20px;
            .c_a_block {
                font-size: 16px;
            }
        }
    }
    .contacts_map {
        width: 100%;
        .google-map {
            width: 100%;
            iframe {
                width: 100%;
            }
        }
    }
}

.y_video_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    .y_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.w_new_container {
    background-color: #a325d9cb;
    height: auto;
    .w_new_heading {
        padding: 30px 0;
        text-align: center;
        color: white;
        font-weight: bolder;
    }
    .w_new_content {
        margin: auto;
        display: flex;
        flex-direction: row;
        width: $content_width;
        flex-wrap: wrap;
        justify-content: space-around;
        .w_new_photos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 49%;
            height: max-content;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            img {
                margin-bottom: 10px;
                border-radius: 10px;
                width: 49%;
                height: auto;
            }
        }
        .w_new_articles {
            width: 45%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-top: 10px;
            }
            .w_article {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                .w_article_logo {
                    width: 50px;
                    height: 50px;
                    padding-right: 2px;
                }
                .w_article_text {
                    width: calc(100%-50px);
                    color: white;
                    margin-left: 5px;
                    .wam_text {
                        font-size: 18px;
                    }
                    .wam_date {
                        font-size: 14px;
                        font-style: oblique;
                    }
                }
            }
        }
    }
}

.check_tour {
    width: 100%;
    height: auto;
    background-image: url('./images/outsider_bg.jpg');
    display: flex;
    padding: 40px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .c_t_i_container {
        width: 35%;
        @media screen and (max-width: 992px) {
            width: 90%;
            padding-top: 40px;
        }
        height: 65%;
        margin: auto;
        img {
            width: 100%;
            height: auto;
            margin: auto;
            box-shadow: 10px 10px 5px rgba(7, 3, 3, 0.699);
            text-align: center;
            @media screen and (max-width: 992px) {}
        }
    }
    .c_t_description {
        width: 55%;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        margin: auto;
        .c_t_heading {
            margin: auto;
            width: 60%;
            height: 70% * 0.7;
            img {
                width: 100%;
                height: auto;
            }
        }
        h1 {
            color: white;
            padding-top: 2px;
            text-align: center;
            @media screen and (max-width: 992px) {
                font-size: 30px;
            }
        }
        .c_t_button {
            background-color: black;
            color: white;
            text-align: center;
            transition: 0.3s;
        }
        .c_t_button:hover {
            background-color: white;
            color: black;
        }
    }
}

.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 5%;
    @media screen and (max-width: 992px) {
        padding: 0;
    }
    background-color: rgba(255,
    235,
    205,
    0.425);
    .s_control {
        width: 25%;
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        border: 1px solid black;
        border-radius: 5px;
        background-color: black;
        height: max-content;
        @media screen and (max-width: 992px) {
            border-radius: 0;
        }
        .s_c_category {
            width: 100%;
            margin: auto;
            transition: 0.5s;
            border: 1px solid black;
            border-radius: 5px;
            @media screen and (max-width: 992px) {
                border-radius: 0;
            }
            .s_divider {
                background-color: grey;
                margin: 0;
            }
            p {
                font-size: 22px;
                font-weight: bold;
                padding-left: 10px;
                color: white;
                margin: auto;
                letter-spacing: 3px;
            }
        }
        .s_c_category:hover {
            background-color: white;
            .s_divider {
                background-color: black;
            }
            p {
                color: black;
            }
        }
    }
    .s_item_container {
        width: 70%;
        @media screen and (max-width: 992px) {
            width: 100%;
            padding-top: 10px;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .s_item {
            margin: 20px 8px;
            margin-top: 0;
            width: 250px;
            @media screen and (max-width: 992px) {
                width: 100%;
            }
            min-height: 400px;
            height: auto;
            border: 1px solid black;
            border-radius: 5px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .s_i_heading {
                width: 100%;
                height: auto;
                padding: 15px;
                vertical-align: middle;
                font-size: 20px;
                color: white;
                font-weight: 700;
                letter-spacing: 2px;
                word-wrap: break-word;
                margin-bottom: auto;
            }
            .s_i_image {
                background-color: white;
                height: auto;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .s_i_buy {
                width: 100%;
                .s_i_price {
                    width: 100%;
                    padding: 15px;
                    color: #c5c5c5;
                    font-size: 20px;
                }
                .s_i_btn {
                    width: 100%;
                    padding: 15px;
                    padding-top: 0;
                    button {
                        background-color: black;
                        color: white;
                        border-color: white;
                        transition: 0.5s;
                    }
                    button:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }
}

.shop_heading {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    @media screen and (max-width: 992px) {
        height: 100px;
    }
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 1rem);
    }
}

.t_header {
    background-image: url("https://static.espreso.tv/uploads/article/246082/images/im-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position-y: -100px;
    @media screen and (max-width: 992px) {
        background-position-y: -0;
        height: 200px;
    }
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 2rem);
    }
}

.t_a_name {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    p {
        letter-spacing: 5px;
        text-align: center;
        margin: auto;
        color: white;
        font-weight: bolder;
        font-size: calc(2.16vh + 2rem);
    }
}

.t_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: calc(2vh + 0.5rem);
    padding: 40px 80px;
    align-items: center;
    @media screen and (max-width: 992px) {
        padding: 40px 10px;
        font-size: 16px;
    }
    .t_date {}
    .t_place,
    .t_position {
        padding-left: 8vh;
        @media screen and (max-width: 992px) {
            padding-left: 2vh;
        }
        @media screen and (max-width: 400px) {
            padding-left: 1vh;
        }
    }
    .t_button {
        margin-left: auto;
        button {
            background-color: black;
            color: white;
            border-color: white;
            transition: 0.5s;
            font-size: calc(2vh + 0.5rem);
            @media screen and (max-width: 992px) {
                padding: 40px 10px;
                font-size: 12px;
            }
        }
        button:hover {
            background-color: white;
            color: black;
        }
    }
}